* {
    padding: "20px";
    margin: 0;
    box-sizing: border-box;
}
h1,h3{
    text-align: centre ;
    color: rgb(9, 24, 24);
}
header{
    background-color:white;
}
.header{
    background-colour:rgb(141, 30, 30);
}
h2{
    background-color: aqua;
    color: navy;
}
#header_section{
    font-size: "32px";
    flex: "10px";
    ;
     
}