body{
    margin: 0%;
    padding:10%;
    box-sizing: border-box;
}
.card{
    text-align: center;
    margin: 1rem 3rem;
    padding: 3cm;
    text-align: center;
    background:linear-gradient(to bottom,rgb(70,70,287),rgb(100,186,219));
    width: 200px;
    height: 200px;
    justify-content: center ;
    border-radius: 30px;
}
.card img{
    width: 300px;
    height: 200px;
}
.button {
    background-color: bisque;
    font-weight: bold;
}

.para {
    font-family :'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}